.doc-fixed{
  position:fixed;
  right:1rem;
  bottom:1rem;
  box-shadow: -2px 2px 8px #ccc;
  list-style: none;
  margin:0;
  padding:0 !important;
}
.doc-fixed li dl{
  margin:0;
  position:relative;
}
.doc-fixed dl dt{
  width:2rem;
  height:2rem;
  cursor: pointer;
  border:0.2rem solid #fff;
  box-sizing: border-box;
  font-size:0;
}
.doc-fixed dl dt svg{
  width:100%;
}
.doc-fixed dl dd{
  margin:0;
  position:absolute;
  right:140%;
  bottom:0;
  padding:0.4rem;
  box-sizing: border-box;
  width:160px;
  height:160px;
  background:#fff;
  box-shadow: -2px 2px 8px #ccc;
  display:none;
}
.doc-fixed dl:hover dd{
  display:block;
}

.doc-preview{
  width:375px;
  position:relative;
  border:1px solid #f5f5f5;
  padding:10px;
  box-sizing: border-box;
  margin:10px 0;
  transition:0.3s;
}
.doc-preview:hover{
  background-color: #f5f5f5;
}

.doc-frame{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:#fff;
  z-index:100;
  display:flex;
  flex-direction: column;
}
.doc-frame-head{
  display:flex;
  flex-direction: row;
  align-items: center;
  height:60px;
  border-bottom:1px solid #eee;
  padding:0 20px;
  box-sizing: border-box;
}
.doc-frame-title{
  font-size:20px;
  color:#333;
  margin:0;
  flex:1;
}
.doc-frame-buttons{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.doc-frame-buttons button,
.doc-preview-buttons button{
  display:flex;
  flex-direction: row;
  align-items: center;
  height:32px;
  border:1px solid var(--theme-color,#42b983);
  background:var(--theme-color,#42b983);
  padding:0 20px;
  margin-left:8px;
  font-size:14px;
  color:#fff;
  border-radius:2px;
  outline:none;
  cursor: pointer;
}
.doc-frame-buttons button:not(:last-child){
  background:none;
  color:var(--theme-color,#42b983);
}
.doc-frame-content{
  flex:1;
  display:flex;
  flex-direction: row;
  align-items:flex-start;
}
.doc-frame-left,
.doc-frame-right{
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.doc-frame-left{
  flex:1;
}
.doc-editor{
  flex:1;
  width:100%;
}
.doc-editor .container{
  height:100%;
}
.doc-phone{
  width:320px;
  height:568px;
  margin:0 20px;
  border:1px solid #eee;
  padding: 1rem 0;
  box-sizing: border-box;
}
.doc-phone iframe{
  border:none;
  width:100%;
  height:100%;
}
.doc-preview-content{
  position:relative;
  background:#fff;
  font-size:0;
  z-index:10;
  min-height: 44px;
  box-sizing: border-box;
}
.doc-preview iframe{
  border:none;
  margin:0;
}
.doc-preview-buttons{
  display:flex;
  flex-direction: row;
  position:absolute;
  z-index:1;
  left:100%;
  top:50%;
  transform: translate(-120%, -50%);
  transition:0.3s;
  padding-left:10px;
}
.doc-preview-buttons button{
  height:28px;
  padding:0 10px;
  margin:0 4px 0 0;
  white-space: nowrap;
  font-size:12px;
}
.doc-preview:hover .doc-preview-buttons{
  transform: translate(0, -50%);
}
.doc-preview:hover .doc-preview-content{
  text-align:center;
}
.logo{
  flex:1;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  color:#fff;
}
.logo img{
  height:34px;
  margin-right:0.4rem;
}
.search{
  position:fixed;
  left:360px;
  z-index:100;
  margin:0 !important;
  border:none !important;
  padding:0 !important;
  height:60px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search .results-panel{
  position:absolute;
  top: 60px;
  left:0;
  background:#fff;
  width: 600px;
  height: 600px;
  box-shadow: 0 2px 8px #ccc;
  padding: 20px;
  border-radius:5px;
  box-sizing: border-box;
}
.sidebar{
  margin-top:60px;
}
.card{
  background:#fff;
  box-shadow: 0 8px 12px #ebedf0;
  border-radius:4px;
  padding:0 20px 20px 20px;
  margin-bottom:20px;
  overflow:hidden;
  position: relative;
}
.card:last-child{
  margin-bottom:0;
}
.card > h3{
  font-weight: 400;
}
.phone{
  width:375px;
  /* box-shadow: #ebedf0 0 4px 12px; */
  border-radius:2px;
  padding: 0.5rem;
  box-sizing: border-box;
  border:1px solid #f7f8fa;
  overflow:hidden;
}
.card pre{
  display:none;
}
.card table{
  table-layout: fixed;
  display:table;
}
.card table th:first-child{
  width: 100px;
}
.card table th:last-child{
  width: 120px;
}
.iframe{
  position:absolute;
  top:200px;
  right:0;
  width:375px;
  height: 667px;
  background:#fff;
  border-radius:10px;
  box-shadow: 0 8px 12px #ebedf0;
  border: 10px solid #fff;
}
.iframe iframe{
  width:100%;
  height:100%;
  border:none;
}
.iframe.fixed{
  position:fixed;
  top: 60px;
}
.card-handle{
  position:absolute;
  right:0;
  top:0;
  padding:10px;
  transform: translateY(-100%);
  transition: 0.3s;
}
.card-handle button{
  display:inline-block;
  padding: 0.3rem 0.5rem;
  border:1px solid var(--theme-color, #42b983);
  color:var(--theme-color, #42b983);
  outline:none;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;

}
.card:hover .card-handle{
  transform: translateY(0);
}
@media screen and (max-width:1600px){
  .app-nav{
    padding:0 2rem;
  }
  .sidebar{
    left:2rem;
  }
  .content{
    right:2rem;
    left:2rem;
  }
  .iframe{
    width:320px;
    height:568px;
  }
  .markdown-section{
    padding:20px 350px 30px 30px;
    width:100%;
    margin:0;
  }
}
